html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.body{
  /* display: grid; */
  justify-items: center;
  align-items: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(11,clamp(24px, 9%, 34px));
    grid-template-rows: repeat(11, clamp(24px, 9%, 34px));
    column-gap: 1px;
    row-gap: 1px;
    text-align: center;
    padding-right: 12px;
    padding-left: 12px;
  }
  
  .container div {    
    padding: 15px;
    font-family: Helvetica;
    font-weight: bold;
    color: #647288;
  }
  
  
  .sidebar {
    background-color: #1e293b; 
    grid-column-start:1;
    grid-column-end:7;
    grid-row-start:1;
    grid-row-end:14;  
  }

  .logo{
    font-size: 24px;
    text-align: left;
  }

  .pages{
    text-align: left;
  }

  .settings{
    text-align: left;
  }
  
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f4f6f7;
    grid-column-start:7;
    grid-column-end:20;
    grid-row-start:1;
    grid-row-end:6;   
  }

  .upper{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    /* align-content: space-around; */
    flex-direction: row;
  }

  #searchbar{
    height: 24px;
    width: 400px;
    border: none;
    border-radius: 1.625rem;
  }

  .lower{
    display: flex;
    justify-content: space-between;
    /* align-content: space-around; */
    flex-direction: row;
    /* margin-bottom: 20px; */
  }

  .main{
    display: grid;
    background-color: #bccbde;
    grid-template-columns: repeat(1fr);
    grid-template-rows: repeat(1fr);
    grid-column-start:7;
    grid-column-end:20;
    grid-row-start:6;
    grid-row-end:14;
  }

  .projects {
    display: grid;
    /* flex-grow: 3; */
    grid-template-rows: auto 1fr 1fr 1fr ;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    background-color: #bccbde;
    column-gap: 15px;
    row-gap: 15px;
    grid-column-start:1;
    grid-column-end:10;
    grid-row-start:1;
    grid-row-end:14;
  }
  
  .projects p {
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    text-align: left;
  }
  
  .projects .card {
    background-color: #FFFFFF;
    color: black;
    text-align: center;
    
  }

  .rightside{
    /* display: grid; */
    /* flex-grow: 1; */
    grid-template-rows: auto 1fr 1fr 1fr ;
    grid-template-columns: repeat(auto-fit, minmax(10px, 2fr));
    background-color: #bccbde;
    /* grid-column-start:11; */
    grid-column-end:20;
    grid-row-start:1;
    grid-row-end:14;

  }

  .announcements {
    display: grid;
    /* flex-grow: 1;
    grid-template-rows: repeat(2fr, minmax(10px, 1fr));
    grid-template-columns: repeat(2fr, minmax(20px, 1fr)); */
    background-color: #bccbde;
    
    /* grid-column-start:11;
    grid-column-end:20;
    grid-row-start:6;
    grid-row-end:14; */
  }
  
  .announcements  p {
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    text-align: left;
    
  }
  
  .announcements  .card {
    background-color: #FFFFFF;
    color: black;
    text-align: center;
    /* border: #3b3e47;
    border-width: 1px; */
    border-bottom: #bccbde;
    border-style: ridge;
    
  }

  .trending {
    display: grid;
    /* flex-grow: 1;
    grid-template-rows: repeat(2fr, minmax(10px, 1fr));
    grid-template-columns: repeat(2fr, minmax(20px, 1fr)); */
    /* background-color: #102745; */
    /* grid-column-start:11;
    grid-column-end:20;
    grid-row-start:6;
    grid-row-end:14; */

  }

  .trending  p {
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    text-align: left;
    
  }

  .trending  .card {
    background-color: #FFFFFF;
    color: black;
    text-align: left;
    
  }

  .card p {
    color: black;
    font-weight: normal;
    font-size: 14px;
    
  }
  
  .card .title {
    font-size: 18px;
    text-align: center;
    
  }

  li{
    list-style-type: none;
    margin: 1em 0;
    /* float:right; */
  }

  .svg-img{
    filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
  }

  button {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: flex-start;
    align-content: space-around ;
    line-height: 1.25;
    margin: 20px;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
  }

  button:hover{
    color: #4b13bb;
    border: #4b13bb solid 1px;
    background:#fff;
  }

  button:active {
    margin-left: 1px 1px 0;
    box-shadow: -1px -1px 1px #000;
    outline: 1px solid black;
    background-image: linear-gradient(to top, #f4f5f5, #dfdddd);
}

h1{
  float:right;
  text-align: center;
}

h1:hover{
   color: #beafde;
   transition: all 500ms ease; 
  font-size: 20px;
    /* border: #4b13bb solid 1px; */
    /* background:#fff; */

}

h1:active {
  color: #bfe9eb;
  
  
  /* background-image: linear-gradient(to top, #f4f5f5, #dfdddd); */
}

h4 {
    justify-self: flex-start;
    font-size: 1.4rem;
    margin: 0;
    margin-bottom: 0.5rem;
    grid-column: 1 /-1;
    
}

